# Databases
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Screenshots / temp files
*.png
*.jpg
*.jpeg

# OS
.DS_Store
Thumbs.db
